body{
    width:100%;
    height:8000px;
    margin:0 0;
    transition: background 1s ease; /*change de couleur au scroll*/
    font-family: 'Montserrat', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}
html{
    scroll-behavior: smooth;

}
/*FORMULAIRE CONTACT*/
.post
{
    position:fixed;
    width:450px;
    height:450px;
    background-color:#034963;
    top:40vh;
    left:-450px;
    transition:all 500ms ease;
    color:#fff;
    z-index:99;
   
}



.post::after
{
    content:"contact";
    color:#ffff;
    display: flex;
    align-items: center;
    justify-content:right;
    position:absolute;
    background-color:#034963;
    height:50px;
    width:80px;
    top:400px;
    padding-right:5px;
    right:-70px;
    text-align: center;  
    border-radius: 10px;
}

.post:hover{

    left:0;


}

#formu
{
    position:absolute;
    display: flex;
    flex-direction: column;
    width:80%;
    padding-left:10px;
    top:50px;
    
}
#nom{

    width: 50%;
}
#prenom
{
    width:50%;
    
}
.lab
{
    margin-top:10px;
}
#bou
{
    position:absolute;
    width:100px;
    height:50px;
    border-radius:50px;
    border-style: none;
    top:300Px;
    left:175px;
    cursor: pointer;
    transition:all 0.3s ease;
    color:#FFFF;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
}

#bou:hover{


    box-shadow: 0px 0px 50px 5px white;
}


textarea
{
    margin-top:10px;
    
}

/*FIN FORMULAIRE CONTACT*/

#bloc_deli{
    width:80%;
}
#ban{

    position:fixed;
    z-index:99;
    display:flex;
    font-size: 20px;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color:rgba(34, 185, 161, 0.8);
 /*   box-shadow: 2px 2px 5px 2px  black;*/
    transition: background 1s ease;
    

}
#logo img
{
    margin-top:15px;
    height:70px;
}


.presentation{

    width:90%;
    height:800px;
    display:flex;
    justify-content: space-around;

}

#arpege
{
    width:50%;
    height:100%;
    color:#22b9a1;
    display: flex;
    flex-direction: column;
    margin-top:100px;
}

#arpege h1{
    margin:0;
    font-size:210px;
    padding-top:80px;
    text-shadow:5px 5px 10px black;
}
#arpege h2{
    font-size:80px;
    margin:0;
    padding-top:20px;
}
#arpege h3{
    font-size:70px;
    padding-top:30px;
    margin:0;
}
#image_vec 
{
    
    margin-top :150px;
    margin-right:50px;
}
/*NAV*/
#ban nav li{
    list-style: none;
    margin:5px;

}
#ban nav ul{
    display: flex;
    
}

#ban nav{
    position:absolute;
    width:33%;
    left:0;
    padding-top:15px;
    color:#ffff;
    list-style: none;
    
}
#ban nav a
{
    text-decoration: none;
    color:#fff;
    font-size: x-large;
    transition:all 100ms ease;


}
nav .dec a:hover{

    border-bottom:3px solid white;

}
.jou:hover{    border-bottom:3px solid white; transition: all 100ms ease;
}
.app:hover{
    border-top:3px solid white; transition:all 100ms ease;

}

#inscription{

    position:absolute;
    right:0;
    text-align: center;
    width:100px;
    margin-right: 50px;
    margin-top: 20px;
    padding:10px;
    color:#fff;
    text-decoration: none;
    border:3px solid #fff;
    border-radius:15px;
    transition:all 500ms ease;

}

#inscription:hover{

    background-color:#fff;
    color:#22b9a1;

}

nav ul{
    border-radius: 15px;
}


/*texte présentation */

.texte_pre
{
    margin-top:200px;
    width:50%;
    height:300px;
    font-size:xx-large;
    margin-left:25%;
    margin-right:25%;
    margin-bottom:200px;
    text-align: center;
}

.texte_pre p{

    padding:40px;
    border-left: 5px solid #22b9a1;
    border-bottom:5px solid #22b9a1;
}


/*DECOUVRIR*/
.titre_dec
{
    font-size: 150px;
    margin-bottom: 150px;
    margin-top: 100px;
    display: flex;
}
#decouvrir
{

    width:100%;
    height:2000px;
    display: flex;
    flex-direction: column;
   
}

.bloc_text{

    margin-left:150px;
    margin-right:50px;
    display: flex;
    flex-direction: column;

    
    
}
.plus{

    text-decoration: none;
    text-align: center;
    color:#fff;
    border:2px solid #fff;
    border-radius:15px;
    width:130px;
    height: 30px;
    align-self: center;
    padding-top:10px;
    
}
#eveil
{
    display:flex;
    height:600px;
    width:90%;
    transition: all 2s ease;
    align-self: flex-end;
}

#eveil img
{

    box-shadow: -3px 3px 5px 0px black;
    height:500px;
    margin-top:-100px;
    margin-left:-150px;
    
}

#eveil p
{
    font-size: xx-large;
    
}

#parcours
{
    display: flex;
    height:600px;
    width:80%;
    transition:all 1s ease;
    margin-top:300px;
}
#parcours img{

    margin-top:-100px;
    height:600px;
    box-shadow: 3px 3px 5px 0px black;
    margin-right: -300px;
    
    
}
#parcours .bloc_text
{
    margin-left:50px;
    padding-right: 50px;
}
#parcours p
{
  
    font-size:xx-large;
}


/*FIN DECOUVRIR*/


/*APPRENDRE*/
#apprendre
{
    width:100%;
    height:2000px;
    display:flex;
    flex-direction:column;
    align-items: center;
    
}

.titre_app
{
    font-size: 150px;
    margin-top: 100px;
}


#ap

{
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    width:100%;
    height:800px;
    background-color:#22b9a1;
    align-items: center;
}
#ap img
{
    margin-top:-150px;
    width:1000px;
}


#ap .bloc_text
{

    font-size:xx-large;
    margin-top: 150px;
    height:600px;
    padding-right:50px;
    padding-left: 50px;
    color:white;
    
}
#ap .plus
{
    width:300px;
    height:50px
}

.reveal{

    opacity:0;
    transform: translateY(-30px);
}

.reveal-visible {

    opacity:1;
    transform:translateY(0);
    transition:1s cubic-bezier(.5,0,0,1);
}


/*SLIDER*/
.slider h2{

    font-size: 50px;
    margin-top:-100px;
    margin-bottom: 50px;
}
.slider{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:200px;
    
}
.mamaDiv
{
    
    width:1000px;
    height:500px;
    border-radius:1%;
    overflow:hidden;
}

#slide
{

    width:5000px;
    height:500px;
    transition:all 500ms ease;
    
}

#slide ul
{
    
    margin-top:0px;
    padding:0;
    display: flex;
}

#slide li{
    
    list-style: none;
    width:500px;
    height:500px;
}

.boubou
{

    position: absolute;
    height:500px;
    width:50px;
    background-color:rgba(255,255,255,0.2);
    z-index:98;
    transition:all 200ms ease;
}

.boubou:hover
{
    background-color:rgba(255,255,255,0.7);
    cursor: pointer;
}

#right
{    
    
    margin-left:950px;
    margin-top:-500px;
}
.slidou{

    height:500px;
}

.barre
{
    display:flex;
    top:650px;
    width:1000px;
    height:10px;
    border-radius:15px;
    margin-top:40px;
    
}
#barre_droite

{
    
    width:0;
    height:10px;
    background-color:#f39c12;
    border-radius: 15px;
    transition:all 500ms ease;
}

/*JOUER */
#jouer{

    width:100%;
    margin-top:300px;
}
#jouer img{

    width:100%;
}
.titre_jouer{

    margin-top:100px;
}
/*Média query*/
@media (max-width:1800px)
{
    img{
        display: none;
    }

    #eveil .bloc_text{

        width:30%;
        margin-left:50px;
    }

    #parcours{

        margin-top:0px;
        
    }

    #parcours .bloc_text{

        margin-left:60%;
    }
   
}

@media ( max-width : 500px){

   
    #arpege{
    
        display:none;
    }
    #image_vec
    {
        display:none;
    }
    nav{
    display:none;
    
    }
    .titre
    {
        display:none;
    }
       
    
    
      
    #eveil img
    {
        display:none;
    }
    #eveil {
    
        justify-content: center;
    }
    
    #deli{

        left:20%;
    }
    
    /*autre media query*/
    }
    
    