body{
    width:100%;
    height:10000px;
    margin:0 0;
    transition: background 1s ease; /*change de couleur au scroll*/
    font-family: 'Montserrat', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}
html{
    scroll-behavior: smooth;
    font-size:16px;

}

/*--------------------------FORMULAIRE CONTACT------------------------------*/
.post
{
    position:fixed;
    width:450px;
    height:450px;
    background-color:#034963;
    top:40vh;
    left:-450px;
    transition:all 500ms ease;
    color:#fff;
    z-index:99;
   
}



.post::after
{
    content:"contact";
    color:#ffff;
    display: flex;
    align-items: center;
    justify-content:right;
    position:absolute;
    background-color:#034963;
    height:50px;
    width:80px;
    top:400px;
    padding-right:5px;
    right:-70px;
    text-align: center;  
    border-radius: 10px;
}

.post:hover{

    left:0;


}

#formu
{
    position:absolute;
    display: flex;
    flex-direction: column;
    width:80%;
    padding-left:10px;
    top:50px;
    
}
#nom{

    width: 50%;
}
#prenom
{
    width:50%;
    
}
.lab
{
    margin-top:10px;
}
#bou
{
    position:absolute;
    width:100px;
    height:50px;
    border-radius:50px;
    border-style: none;
    top:300Px;
    left:175px;
    cursor: pointer;
    transition:all 0.3s ease;
    color:#FFFF;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
}

#bou:hover{


    box-shadow: 0px 0px 50px 5px white;
}


textarea
{
    margin-top:10px;
    
}



#ban{

    position:fixed;
    z-index:99;
    display:flex;
    font-size: 20px;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color:rgba(34, 185, 161, 0.8);
 /*   box-shadow: 2px 2px 5px 2px  black;*/
    transition: background 1s ease;
    

}
/*-------HAMBURGER-----------------------*/

.hamburger{

    position:absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left:0;
    z-index:99;;
    width:100px;
    height:100%;
    cursor:pointer;

}

.hamburger span{

    position: absolute;
    display:block;
    width:80px;
    height:5px;
    background-color: #fff;
    transition:all 200ms ease; 
}

.line_1{

    transform:translateY(20px);
}
.line_3{
    transform: translateY(-20px);
}
.active .line_1{

    transform: translateY(0) rotate(135deg);
}

.active .line_3{

    transform: translateY(0) rotate(-135deg);

}


.active .line_2
{

opacity: 0;
}


#logo img
{
    margin-top:15px;
    height:70px;
}


/*---------------------------------MENU-------------------------------------*/
#ban nav li{
    list-style: none;
    margin:5px;

}
#ban nav ul{
    display: flex;
    
}

#ban nav{
    position:absolute;
    width:33%;
    left:0;
    padding-top:15px;
    color:#ffff;
    list-style: none;
    
}
#ban nav a
{
    text-decoration: none;
    color:#fff;
    font-size: x-large;
    transition:all 100ms ease;


}
.menu  .dec a:hover{

    border-bottom:3px solid white;

}
.menu .jou:hover{    border-bottom:3px solid white; transition: all 100ms ease;
}
.menu .app:hover{
    border-top:3px solid white; transition:all 100ms ease;

}

#inscription{

    position:absolute;
    right:0;
    text-align: center;
    width:100px;
    margin-right: 50px;
    margin-top: 20px;
    padding:10px;
    color:#fff;
    text-decoration: none;
    border:3px solid #fff;
    border-radius:15px;
    transition:all 500ms ease;

}

#inscription:hover{

    background-color:#fff;
    color:#22b9a1;

}

.menu nav ul{
    border-radius: 15px;
}


#menu_2
{
    display:none;
    position: fixed;
    z-index: 99;
    top:100Px;
    left:0px;
    transform:translateX(-100%) ;   
    transition:all 500ms ease;
    width:100%;
    height:500px;
    background-color: #22b9a1;
}
#menu_2 .ul {

    display:flex; 
    flex-direction: column;
    padding-left:0;    
    
}
#menu_2.move{

    transform : translateX(0);
}

#menu_2 li 
{
    
    list-style: none;
    font-size: 3rem;
    margin-top:40px;
    text-align: center;
    
}

#menu_2 a{

    text-decoration: none;
    color:#fff;
}
/*------------------------------Titre école-----------------------------*/

.presentation{

    width:90%;
    height:800px;
    display:flex;

}

#arpege
{
    width:50%;
    height:100%;
    color:#22b9a1;
    display: flex;
    flex-direction: column;
    margin-top:100px;
}

#arpege h1{
    margin:0;
    font-size:13rem;
    padding-top:80px;
    text-shadow:5px 5px 10px black;
}
#arpege h2{
    font-size:5rem;
    margin:0;
    padding-top:20px;
}
#arpege h3{
    font-size:4rem;
    padding-top:30px;
    margin:0;
}
#image_vec 
{
    margin-top :150px;
    margin-right:50px;
}



/*-----------------------texte présentation ------------------------------------- */

.texte_pre
{
    margin-top:300px;
    width:50%;
    height:300px;
    font-size:2rem;
    margin-left:25%;
    margin-right:25%;
    margin-bottom:200px;
}
/*-------------------corps-------------------------------*/
#bloc_deli{
    width:80%;
}


/*--------------------------DECOUVRIR--------------------------------------------*/




.titre_dec
{
    font-size:8rem;
    margin-bottom: 150px;
    margin-top: 100px;
    align-self:flex-start;
}
#decouvrir
{

    width:100%;
    height:2000px;
    display: flex;
    flex-direction: column;
   
}
/*-------------------------sous-section éveil-----------------------------*/


#eveil
{
    display:flex;
    height:650px;
    width:90%;
    transition: all 1s ease;
    align-self: flex-end;
}

#eveil .bloc_text{

    margin-left:150px;
    margin-right:50px;
    display: flex;
    flex-direction: column;

    
    
}
#eveil .plus{

    text-decoration: none;
    text-align: center;
    color:#fff;
    border:2px solid #fff;
    border-radius:15px;
    width:130px;
    height: 30px;
    align-self: center;
    padding-top:10px;
    
}


#eveil img
{

    height:500px;
    margin-top:-100px;
    border : solid 1px black;
    margin-left:-150px;
    
    
}
#eveil h2{

    font-size: 3em;
}

#eveil p
{
    font-size:2em;
    margin-top:0;
    
}

/*---------------------------sous section parcours ----------------------*/
#parcours
{
    display: flex;
    height:550px;
    width:80%;
    transition:all 1s ease;
    margin-top:300px;
}

#img_parc_1{display:none;}

#img_parc_2{

    margin-top:-100px;
    height:600px;
    margin-right: -300px;
    border:solid 1px black;
    
    
}
#parcours .bloc_text
{
    margin-left:50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#parcours h2{

    font-size: 3em;
    align-self: flex-start;
}
#parcours p
{
  
    font-size:2em;
}
#parcours .plus{

   
        text-decoration: none;
        text-align: center;
        color:#fff;
        border:2px solid #fff;
        border-radius:15px;
        width:130px;
        height: 30px;
        padding-top:10px;
        margin-top: 50px;
        
    
    
}

/*-------------------------------FIN DECOUVRIR*------------------------------------------------------/


/*-----------------------APPRENDRE---------------------------------------------------------*/
#apprendre
{
    width:100%;
    height:1300px;
    display:flex;
    flex-direction:column;
    align-items: center;
    
}

.titre_app
{
    font-size: 150px;
    margin-top: 100px;
}


#ap

{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    width:100%;
    height:800px;
    background-color:#22b9a1;
    align-items: center;
}
#ap img
{
    margin-top:-150px;
    width:1000px;
}


#ap .bloc_text
{

    font-size:2.5em;
    margin-top: 100px;
    height:600px;
    padding-right:50px;
    padding-left: 50px;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#ap .plus{

    text-decoration: none;
    text-align: center;
    color:#fff;
    border:2px solid #fff;
    border-radius:15px;
    padding:10px;
    margin-top:50px;
    
}

.reveal{

    opacity:0;
    transform: translateY(-30px);
}

.reveal-visible {

    opacity:1;
    transform:translateY(0);
    transition:1s cubic-bezier(.5,0,0,1);
}


/*------------------------------------SLIDER-----------------------------------------------*/

.slider{

    display: flex;
    justify-content: center;
    width: 100%;
    margin-top:100px;
    background-color: #f39c12;
}
.mamaDiv
{
    position:relative;
    margin-top:100px;
    width:500px;
    height:500px;
    border-radius:1%;
    overflow:hidden;
}

#slide
{

    width:5000px;
    height:500px;
    transition:all 500ms ease;
    
}

#slide ul
{
    
    margin-top:0px;
    padding:0;
    display: flex;
}

#slide li{
    
    list-style: none;
    width:500px;
    height:500px;
}

.boubou
{

    position:absolute;
    height:50px;
    width:50px;
    background-color:rgba(255,255,255,0.2);
    z-index:98;
    transition:all 300ms ease;
    border-radius:50%;
    top:445px;

}

.boubou:hover
{
    background-color:rgba(255,255,255,0.7);
    cursor: pointer;
}

#right
{    
    left:445px;
}
#left{

    left:5px;
}

#slide img{
    height:500px;
}
#petitCont
{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left:100px;
    height:500px;
}
.texte
{
    display: none;
    width:475px;
    height:50%;
    padding:20px;
    color:#fff;
}
#titre_choisir
{
    font-size: 2.5rem;
    height:50%;
    text-align: center;
}
#piano
{
    display: block;
    background-color: #f39c12;
}
.titre_cat
{
   font-size: xx-large;
   text-align: center;
   padding:20px;
   border-bottom: 4px solid #fff;
   margin-bottom:15px;
}
#chant{

    background-color:#fc5454;
}
#flute
{
    background-color:#324558;
}
#guitare
{
    background-color:#034963;
}
#mao
{
    background-color: #22B9A1;
}
#violon
{
    background-color: #00b7dd;
}

.barre
{
    display:flex;
    position: absolute;
    top:5700px;
    width:500px;
    height:10px;
    border-radius:15px;
}
#barre_droite

{
    
    width:0;
    height:10px;
    background-color:#f39c12;
    border-radius: 15px;
    transition:all 500ms ease;
}

/*----------------------------------------JOUER-------------------------------------------- */
#jouer{

    width:100%;
    margin-top:300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titre_jouer{

    margin-top:100px;
    font-size: 150px;
    margin-bottom:100px;
}
#texte_jouer
{
    margin-top:200px;
    font-size: xx-large;
    align-self: center;
    text-align: justify;
    overflow-wrap: break-word;
}
/*CAROU*/

#car{

    
    width: 80%;
    height:600px;
}

/*citation*/

.citation
{
    width:80%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top:2em;
    font-size:4rem;
    text-align: center;
    }
.auteur
{
    font-size: 30px;
    font-style: italic;
    text-align: right;
}
/*petit bloc atelier*/


#ateliers
{
    display: flex;
    margin-top:200px;
    height:500px;
  
}

#section_1, #section_2
{
    margin-top:-100px;
    height: 50%;
}
#section_1
{
    display: flex;
}
#section_2
{
    display:flex;
}
.petit_bloc
{
    width:400px;
    margin:10px;
    display: flex;
    flex-direction: column;
    height: 280px;
    transition: all 500ms ease;
    overflow: hidden;
    color:#000;
    background-color: #fff;
    font-size:20px;
    cursor: pointer;
    border-bottom: 5px solid #900c3f;

}

.texte_atelier{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding:-20px;
    margin-left:10px;
    padding-right: 5px;
}
.texte_atelier h2{

    margin-top: 30px;
    transition:all 200ms ease;
}

.change{

    height:550px;
    
}

.petit_bloc img{
    height:200px;
}


.en_savoir
{
    text-decoration: none;
    color:black;
    padding-top:30px;
}

/*----------------FOOTER-----------------------------*/

footer{

    
    display: flex;
    width:100%;
    height: 300px;
    background-color: #900c3f;
    color:#fff;
}





/*-------------------media Q ---------------------------------*/
@media(max-width:1800px) 
{
    #bloc_deli
    {

        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    .presentation{

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    #image_vec
    {
        display:none;
    }

    

    .titre_ap, .titre_jouer, .titre_dec
    {
        align-self: center;
    }
    #car
    {
        display:none;
    }
    
    
    #ateliers{
        flex-direction: column;
    }

    #eveil{

        flex-direction: column;
        align-items: center;
        width:100%;
        
        
        

    }
    #eveil img{
        margin-left:0px;
        width:500Px;   
    }
    .bloc_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10Px;
    }
    .texte_pre{

        margin-top:150px;
    }

    #arpege{

        margin-top:200px
    }
}    

/*------------------MINI MEDIA Q-----------------------*/


@media (max-width : 576px){

    .post
    {
        display: none;
    }
    #bloc_deli{

        width:100%;
    }
    .menu{

        display:none;
    }
    #menu_2{display:block;}
    .hamburger{
        display: flex;
    }
    #inscription{

        margin-right: 10px;
    }
    #presentation{width:100%;
    }
    #arpege
    {
        align-items: center;
    }
   #arpege h1{

    font-size: 6rem;
    text-shadow:2px 2px 5px black;


   }
   #arpege h2{
    margin-top:30px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
   }
   #arpege h3{margin-top:30px;font-size:2rem;font-weight:bold;text-align: center;}


   .titre_dec, .titre_jouer, .titre_app
   {
    font-size: 5rem;
   }
.texte_pre{

    width:90%;
    
}

#decouvrir{

    background-color: #f39c12;
    color:#fff;
}
   #parcours{
    flex-direction: column;
    width:100%;
    height:570px;
   }

   #eveil{

    height:600px;
    
   }
   #eveil img{

    width :450px;
    height: 300px;
   }
#eveil .bloc_text{
    width:90%;
    margin: auto;
}
   
   #eveil h2{font-size: 2em;}
  #eveil .bloc_text p{

    font-size: 1.3rem;

   }

   #parcours .bloc_text h2{font-size: 1.8em;}
   #parcours .bloc_text p{font-size: 1.3em;}
   #parcours .bloc_text .plus{margin-top:10px;}
 #img_parc_1{

    display: block;
    width:auto;
    height:500px;
    border:solid black 1px;
    margin-top: -300px;
 }
 #img_parc_2
 {
    display:none;
 }

 
/*----------apprendre---------------*/
#apprendre {
    background-color: #22b9a1;
    height: 1198px;
    color:#fff;
}
#apprendre .bloc_text p{font-size:1.5rem;}
 #apprendre img{
    width:400px;

 }
 #ateliers{
    display:none;
 }

 /*--------------slider-------------------*/
 .slider{
    margin-top:0;
    flex-direction: column;
    align-items: center;
    background-color: #fff;

 }
 .mamaDiv{width:450px;
margin-top:0px;}
 #petitCont{margin:0;width:auto;height:300px}
 #right{left:88%;}
 .texte{width:auto;}
 #titre_choisir{display:none;}
 /*jouer*/

/*contact*/

.post{
    position: relative;
    display: flex;
    left:0;
    width:100%;
    Z-index:1;
}
.post::after
{display:none;}
}